<a href="https://colab.research.google.com/github/Boyiritushar/tutedude-assignment2/blob/main/Untitled60.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT **2**

CHECK IF A NUMBER IS EVEN OR ODD USING IF ELSE

In [6]:
number=int(input("enter a number : "))
if number%2==0 :
  print("entered number is even")
else:
  print("entered number is odd")

enter a number : 4
entered number is even

In [7]:
number=int(input("enter a number : "))
if number%2==0 :
  print("entered number is even")
else:
  print("entered number is odd")

enter a number : 5
entered number is odd

  PRINT THE SUM OF NUMBERS FROM 1 TO 50 USING LOOPS

In [12]:
total=0

for i in range(1,51):
  total+=i

print("sum of numbers from 1 to 50 is : ",total)

sum of numbers from 1 to 50 is :  1275